.idea
.tscache
*.iml
.baseDir.ts
target
node_modules
.DS_Store
*.swp
.env
*.tmp.txt
comminters.txt
storybook-static
duplicates_finder_log.txt
allure-results
test-reports
coverage
application/BundleAnalyzeReport.html
application/BundleAnalyzeStat.json
codeowners-for-sentry.txt
application/src/sdk/docs/
